*{
	box-sizing: border-box;
}
header{
background-color: #013220;
	margin-bottom: 2em;
}
body{
	padding: 0;
	margin: 0;
	width: 100vw;
	background-color: #021a10;
	color: #b6f2c2;
}
.pages-container
{
	background-color: #024d2d;
	padding: 1em;
}
.flex-box{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	margin:0 auto;
}
.pages-container a{
	text-decoration: none;
	color: #7fffd4;
}
.pages-container a:hover
{
	text-decoration: none;
	color: #00ff88;
}